body {
    background-color: lightblue;
    padding: 30px;
    display:inline;

  }
  
  h1 {
    color: white;
    text-align: center;
    margin: 50px;
  }
  
  p {

    font-family: verdana;
    font-size: 15px;
    display: block;

  }

  ul {
      display:block
  }
